.container__explore {
  background-color: var(--white-medium);
  padding-top: 39px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 0;

  p {
    margin-top: 10px;
    font-weight: 300;
    font-size: 18px;
  }

  .container__explore--button {
    margin: 27px 0px 57px 0px;
    color: var(--white);
    height: 50px;
    width: 218px;
    border-radius: 30px;
    padding: 13px 18.75px;
    text-decoration: none;
    background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  }
}

.container__functioning {
  padding: 20px;

  .container__tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24.93px;
    padding: 26px 0px 68px 0px;

    .functioning__tab {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      background-color: #f6f6f6;
      height: 72.38px;
      padding: 10px;
      border-radius: 20px;
      box-shadow: 0px 4px 15px 0px #00000026;

      .widget__number {
        color: white;
        background-color: var(--purple);
        padding: 0px 8px;
        height: 24px;
        width: 24px;
        border-radius: 100%;
        transform: translateX(-22px);
      }

      svg {
        margin: 30px;
      }
    }
  }
}

.container__restaurant {
  background-color: var(--white-medium);
  padding: 54px 20px 66px 20px;

  .container__restaurant--grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-template-rows: 1fr;
    gap: 10px;
    margin-top: 20px;

    .cell-grid {
      background-color: white;
      height: 251px;
      border: solid 3px white;
      border-radius: 25px;
      padding: 2px;
      box-shadow: 0px 4px 15px 0px #0000001a;
      overflow: hidden;
      text-decoration: none;
      position: relative;
      z-index: 1;

      .cell-part1 {
        display: flex;
        justify-content: flex-end;

        img {
          height: 175px;
          width: 100%;
          border-radius: 20px 20px 0px 0px;
          object-fit: cover;
          position: relative;
          z-index: 2;
        }

        .img__tab {
          color: var(--green);
          background-color: var(--green-light);
          margin: 15px 15px 0px 0px;
          border-radius: 2px;
          font-weight: 500;
          font-size: 14px;
          padding: 5px;
          position: absolute;
          z-index: 3;
        }
      }

      .cell-part2 {
        color: black;
        height: 110%;
        display: flex;
        justify-content: space-between;
        padding: 16px;

        span {
          font-size: 18px;
          font-weight: 700;
        }

        p {
          padding-top: 2px;
        }

        svg {
          &:hover {
            background-color: var(--purple);
          }
        }
      }
    }
  }
}
