main img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

article {
  border-radius: 25px;
}

/* main container */

#menu-container {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  width: 100%;
  gap: 40px;
  border-radius: 25px;
  margin-top: -50px;
  padding: 32px 40px 40px 17px;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

/* block & title  */

.block {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.block-title {
  display: inline-block;
}

.block-title::after {
  display: block;
  content: "";
  background-color: var(--tertiary);
  padding: 1.5px 20px;
  margin-top: 8px;
  width: 0%;
}

.heart-box {
  margin: 5px;
  position: relative;
}

.heart {
  cursor: pointer;
  position: absolute;
  z-index: 1;
}

.f-heart {
  position: relative;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.heart-input {
  appearance: none;
  display: none;
}

.heart-input:checked + .heart {
  opacity: 0;
}

.heart-input:checked + .heart + .f-heart {
  opacity: 1;
}

/* tab menu  */

.input-container {
  display: flex;
  overflow: hidden;
  height: 69px;
  width: 100%;
  cursor: pointer;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0px 4.01px 15.04px 0px #0000001a;
}

.input-container::after {
  content: "";
  right: 100%;
  height: 100%;
  width: 59px;
  border-radius: 0px 15px 15px 0px;
  background-color: var(--tertiary);
  transform: translateX(59px);
}

.input {
  appearance: none;
  display: none;
}

.input:checked + .input-container::after {
  content: "";
  display: block;
  transform: translateX(0px);
  transition: all 0.25s ease-in-out;
}

.input:not(:checked) + .input-container::after {
  content: "";
  display: block;
  transform: translateX(59px);
  transition: all 0.25s ease-in-out;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 12px;
}

.text-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  padding: 13.5px 15px;
}

/* card left side text*/

.left-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* card right side text*/

#price {
  align-self: flex-end;
}

/* order button  */

.order-button {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 186px;
  padding: 13px 18.75px;
  border-radius: 25px;
  transition: all 0.5s;
  opacity: 1;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 10px 0px #00000040;
}

.order-button:hover {
  opacity: 0.8;
  box-shadow: 0px 4px 15px 0px #00000059;
}
