* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #fff;
  --white-medium: #f3f3f3;
  --grey-light: #eaeaea;
  --pink: #ff79da;
  --purple: #9356dc;
  --green-light: #99e2d0;
  --green: #008766;
  --blue-light: #89c8fa;
  --blue: #003a68;
  --background-color: var(--white);
}

body {
  /* font-family */
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

@layer utilities {
  .font-title {
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
  }

  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .font24x700 {
    font-weight: 700;
    font-size: 24px;
  }

  .font16x500 {
    font-weight: 500;
    font-size: 16px;
  }
}
