.tab-up-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  background-color: #fff;
}

.tab-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 48px 20px 68px 20px;
  gap: 25px;
}

.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 25px;
}

.nav-container h2 {
  align-self: flex-start;
}

.nav-tab-container {
  position: relative;
}

.tab-container article {
  display: flex;
  justify-content: flex-start;
  background-color: #f6f6f6;
  width: 100%;
  gap: 27px;
  padding: 28px 0px 28px 35px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px #00000026;
}

.mobile-svg1,
.mobile-svg2,
.mobile-svg3 {
  position: absolute;
}

.mobile-svg1 {
  left: -15px;
}

.mobile-svg2 {
  left: -13px;
}

.mobile-svg3 {
  left: -13px;
}
